<div
  class="flex w-full justify-between items-center py-2.5 px-5 2xl:px-24 bg-white shadow-md z-20 fixed top-0"
>
  <div>
    <h1 class="text-2xl font-bold text-green-500">LOGO</h1>
  </div>
  <div class="justify-items-center hidden sm:flex">
    <span class="text-md font-medium self-center text-gray-700">Andres</span>
    <div
      class="bg-gradient-to-tr overflow-hidden from-green-400 to-green-800 ml-2.5 p-0.5 rounded-full"
    >
      <img
        class="w-10 h-10 object-cover"
        src="assets/images/user.png"
        alt="avatar"
      />
    </div>
  </div>
</div>
